// colors   

/// Primary clr
$c-1-a: #151515;
$c-1-b: #575757;
$c-1-c: #A9A9A9;
$c-1-d: #D1D1D1;
$c-1-e: #EBEBEB;
$c-1-f: #F5F5F5;
$c-1-h: #F9F9F9;
$c-1-j: #FFF;

/// Secondary clr
$c-2-a: #6A983C;
$c-2-b: #46760A; 
$c-2-c: #92C064; 
$c-2-d: #C8DEB3; 
$c-2-e: #F4F8EC; 


/// Adittional  clr  С3
$c-3-a: #D0A866;
$c-3-b: #B28A48;
$c-3-c: #ECD2A6;
$c-3-d: #FAEDD8;
$c-3-e: #FFF9F0;

/// Adittional  clr  C4
$c-4-a: #E5704B;
$c-4-b: #C7522D;
$c-4-c: #EB8D70;
$c-4-d: #F7C6B7;
$c-4-e: #FFF1ED;

/// Adittional  clr  C5 
$c-5-a: #37D0D6;
$c-5-b: #19B2B8;
$c-5-c: #7CD0D3;
$c-5-d: #B9E6E8;
$c-5-e: #ECF6F6;