.headline {
  @include pd;
}
.headline__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.headline__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}